.footer-address__link {
  font-style: normal;
  font-size: var(--main-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--general-back-color);
  transition: color var(--trans);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-address__link--light {
  color: var(--footer-mail-tel-color);
}
