.footer-address,
.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: var(--main-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--general-back-color);
}

.footer-mail,
.footer-tel {
  color: var(--footer-mail-tel-color);
}

.show {
  transition: color var(--trans);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
