/*  Наші клієнти  */

.clients__title {
  margin-bottom: 50px;
}

.clients-menu {
  display: flex;
  gap: 30px;
}

.clients-menu__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-icon);

  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-icon);

  transition: border var(--trans), fill var(--trans);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
  }
}
